body {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: var(--color1-);
}

@font-face {
  font-family: Norse Bold;
  src: url("Norse-Bold.otf") format("opentype");
}

:root {
  --color1-: #f9f7f5;
  --color2: #596d48;
}

form {
  background-color: white;
}

/* IMAGE */
.image {
  position: relative;
  flex-direction: column;
  width: max(33%, 400px);
  height: auto;
}

.image img {
  width: 100%;
  height: 100%;
}

.credits {
  position: absolute;
  bottom: 8px;
  text-align: center;
  width: 100%;
  color: #f9f6f5;
}

.credits a {
  color: inherit;
}

/* LOGO */
.logo img {
  width: 100px;
  height: 130px;
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 18.5%;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo span {
  font-size: 5rem;
  color: var(--color1-);
  font-family: "Norse Bold", serif;
}

/* FORM */
.signup-form {
  font-size: 0.9rem;
  flex-direction: column;
  width: max(67%, 600px);
  height: 100%;
  display: flex;
}

.signup-form > h2:first-of-type {
  width: max(80%, 100px);
}

label,
input {
  display: block;
}

label {
  font-weight: 500;
  letter-spacing: 1.5px;
}

input {
  width: min(200px, 300px);
  line-height: 25px;
  border: 1px solid #e5e7eb;
  background-color: var(--color1-);
  border-radius: 2px;
}

p:not(.p-create) {
  display: inline-block;
  padding: 0 1rem;
}

.form-heading h2 {
  margin: 0;
}

.form-heading {
  padding: 6rem 3rem 1rem;
}

.form-heading h2:nth-of-type(2) {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

form {
  padding: 1rem 3rem;
  box-shadow: 0 6px 2px -2px rgb(223, 220, 220);
  border-top: 0.1px solid rgb(239, 238, 238);
}

/* BUTTON */
.create {
  padding: 3rem;
}

.btn-create {
  background-color: var(--color2);
  color: var(--color1-);
  font-weight: 600;
  padding: 15px;
  border: none;
  border-radius: 4px;
  width: min(30%, 300px);
  font-size: 1rem;
}

.p-create a {
  color: var(--color2);
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .image {
    display: none;
  }
  .signup-form {
    width: 100%;
  }
}
